[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torchmetrics = "*"
matplotlib = "*"
pillow = "*"
nltk = "*"
scikit-learn = "*"
transformers = "*"
sentencepiece = "*"
datasets = "*"
accelerate = "*"
evaluate = "*"
rouge-score = "*"
llama-stack = "*"
llama-cpp-python = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
torchtext = "*"
modal-python = "*"
trl = "*"
peft = "*"
numpy = "*"
pandas = "*"
wandb = "*"

[dev-packages]

[requires]
python_version = "3.9"
